django==3.0.10
coverage
psycopg2-binary
gunicorn==20.0.4
tblib
djangorestframework==3.11.1
django-cors-headers
django-filter
tqdm
djangorestframework-recursive
torch
pillow
torchvision
annoy
requests==2.21.0
scipy
drf-yasg
lxml
django-silk
sklearn
google-cloud-vision
grpcio
django-picklefield
img2vec_pytorch
