django==3.0.7
coverage
psycopg2-binary
gunicorn==20.0.4
tblib
djangorestframework==3.11.0
django-cors-headers
django-filter
tqdm
djangorestframework-recursive
torch
pillow
torchvision
annoy
requests==2.23.0
scipy
drf-yasg
lxml
django-silk
sklearn
